<div class="container mx-auto">
  <div class="text-center">
    <div class="flex justify-evenly">
      <%= link_to topics_path(month: @month.begin.prev_month), class: 'text-green-700' do %>
        <i class="fas fa-chevron-left fa-lg mt-2"></i>
      <% end %>
      <h1 class="text-4xl text-green-700 text-center font-semibold"><%= @month.begin.mon %>月</h1>
      <%= link_to topics_path(month: @month.begin.next_month), class: 'text-green-700' do %>
        <i class="fas fa-chevron-right fa-lg mt-2"></i>
      <% end %>
    </div>
    <%= render partial: 'topics/card', collection: @topics, as: 'topic' %>
    <div class="bg-green-500 text-white w-48 mx-auto mb-36 mt-10">
      <%= link_to 'カードを追加', '#modal_b', class: "card" %>
    </div>
    <div class="remodal w-72 h-96 bg-gray-700" data-remodal-id="modal_b">
      <button data-remodal-action="close" class="remodal-close"></button>
        <%= render 'topics/form', topic: @topic %>
    </div>
  </div>
</div>
