<!DOCTYPE html>
<html>
  <head>
    <title>MutualManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
